<p id="notice"><%= notice %></p>

<div id="back">    
    <%= link_to 'Back', hikes_path %>
</div>

<div class="container hkshow">
    <% @hike_path %>
    <strong>Location:</strong>
    <%= @hike.location %>
    </p>

    <p>
    <strong>Difficulty:</strong>
    <%= @hike.difficulty %>
    </p>

    <p>
    <strong>Length:</strong>
    <%= @hike.length %>
    </p>

    <p>
    <strong>Comments:</strong>
    <%= @hike.comments %>
    </p>

    <p> 
        <%= image_tag @hike.image.url, class: "hikeshow" %>
    </p>   
</div>

<div class="container-fluid resto">

    <% if current_user %>

        <%= form_for [@hike, @photograph] do |f| %>
            <div class="container chooser">
                <div id="choose">
                    <%= f.file_field :image, class: 'hinputs', :required => true %>
                </div>
            </div>

            <%= f.submit 'Add Photo', class: 'btn btn-success btn-sm', id:'hsub' %>
        <% end %>
    <% end %>

    <% @hike.photographs.each do |photo| %>
        <%= link_to image_tag(photo.image.url, class: "photoin"), photograph_path(photo) %>

    <% end %>
</div>
   

